<h1>FORM DE TESTE DE UPLOAD</h1>

<form method="post" enctype="multipart/form-data" action="http://localhost:3001/cestaNatal/upload">
    <input type="file" name="file">
    <input type="submit" value="upload">
</form>